<!DOCTYPE html>
<html>
	<head>
		<title>EkitJS Demo</title>
		<base href="/" />
		<%- css %>
	</head>
	<body>
		
		<div>
			<h1>EkitJS Demo</h1>
		</div>
		
		<div>
			<button onclick="window.location.href='/'">List</button>
			<button onclick="window.location.href='/create'">Create</button>
		</div>
		
		<div>
			<table border="1" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<td></td>
						<td>Frist name</td>
						<td>Last name</td>
						<td>Full name</td>
						<td>Username</td>
						<td>Password</td>
					</tr>
				</thead>
				<tbody>
					<% for(var i = 0; i < data.length; i++){ %><tr>
						<td><%= i + 1 %></td>
						<td><%= data[i].name.first %></td>
						<td><%= data[i].name.last %></td>
						<td><%= data[i].name.full %></td>
						<td><%= data[i].username %></td>
						<td><%= data[i].password %></td>
					</tr><% } %>
					<tr></tr>
				</tbody>
			</table>
		</div>

		<%- js %>
	</body>
</html>